body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(../../src/images/pe.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}

h1{
    text-align: center;
    background-color: rgb(62, 63, 63);
    
    margin-top: 0rem;
    font-size: 2.5rem;
    color:rgb(234, 228, 228);
}

.center-container {
    text-align: center;
}

.btn-primary {
    background-color: rgba(100, 51, 5, 0.603);
    color: white;
    padding: 10px 20px;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: rgba(54, 26, 25, 0.603);
  }

.table-container { /* Neuer Container */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; /* Angepasstes Margin */
}

table{
    border-radius: 10px;
    width: 90%;
    border-collapse: collapse;
    overflow: hidden
}

thead{
    background-color:rgba(20, 14, 3, 0.7);
    color:#fff;
    font-size:1.2rem;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

td, th{
    padding: 1rem;
    text-align: left;
    border-radius: 50px, 50px, 50px, 50px;
    
}
tbody tr:nth-child(odd) {

    background-color: rgba(68, 42, 22, 0.651);
    color: rgb(255, 255, 255);
}

/* Hintergrund für gerade Zeilen im tbody */
tbody tr:nth-child(even) {
    background-color: rgba(226, 177, 139, 0.788);
    color: #5a3d08;
}
