body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../src/images/horse-3258001_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

header {
    background-color: rgba(218, 168, 122, 0.4);
    padding: 1rem; /* Padding reduziert, um den Inhalt besser zu platzieren */
    width: 100%;
    position: relative;
    margin-top: 80px;
    margin-bottom: -80px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Verteilt den Inhalt */
    width: 100%; /* Header Inhalt soll die volle Breite haben */
}
/*
.login-container {
    display: flex;
    align-items: center;
    padding-left: 1rem; /* Abstand vom linken Rand 
}

.login-container input,
.login-container button {
    margin-right: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    background-color: #1c3d1d; /* Grüne Farbe für den Button 
    color: white;
    border: none;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #5b86aa;
}
*/


main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.link-container-1,
.link-container-2,
.link-container-3 {
    display: flex;
    justify-content: center;
    margin-bottom: -90px;
    gap: 150px;
}


.link-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black; /* Textfarbe */
    transition: transform 0.3s ease; /* Übergang für Animationen */
}



.link-item img {
    width: 200px; /* Bildbreite */
    height: 200px; /* Bildhöhe */
    object-fit:cover; /* Bilder anpassen */
    border-radius: 30%; /* Runde Ecken */
    margin-bottom: 30px;
}

.link-item:hover img {
    transform: scale(1.1); /* Vergrößern */
    box-shadow: 5px 5px 50px 5px rgb(128, 36, 23);
    /* inset schatten nach innen funktioniert nicht, jaques fargen*/
  
}



.link-container-1 .link-item span {
    color: rgb(17, 122, 82);
    font-size: 40px;
}

.link-container-2 .link-item span {
    color: rgb(96, 171, 177);
}

.link-container-3 .link-item span {
    color: rgb(187, 148, 41);
}