body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../../src/images/horse-6276602_1280.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5rem;
    color: rgb(41, 31, 14);
}

.table-container { /* Neuer Container */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; /* Angepasstes Margin */
}

table {
    border-radius: 10px;
    width: 90%;
    border-collapse: collapse;
    overflow: hidden; /* Hinzugefügt */
}

thead {
    background-color: rgba(97, 55, 7, 0.493);
    color: #fff;
    font-size: 1.2rem;
    border-radius: 10px 10px 0 0;
    overflow: hidden; /* Hinzugefügt */
}

td, th {
    padding: 1rem;
    text-align: left;
    border-radius: 50px, 50px, 50px, 50px;
    
}

/* Hintergrund für ungerade Zeilen im tbody */
tbody tr:nth-child(odd) {

    background-color: rgba(68, 42, 22, 0.651);
    color: rgb(255, 255, 255);
}

/* Hintergrund für gerade Zeilen im tbody */
tbody tr:nth-child(even) {
    background-color: rgba(226, 177, 139, 0.788);
    color: #5a3d08;
}


